@import url("../font/stylesheet.css");

html {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body, p, h1, h2, h3, h4, h5, h6, div, ul, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
  list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 3px 14px 1px rgba(152, 152, 152, 0.2);
    padding: 16px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__menu {
    margin-left: 240px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo__text {
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffc468;
    max-width: 90px;
    line-height: 1.1;
}

.menu__list {
    color: #a46b00;
    display: flex;
    gap: 55px;
}

.main__first {
    margin-top: 126px;
}

.main__catalog {
    margin-top: 150px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first__title {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 800;
    color: #b99050;
}

.first__title-color_light {
    color: #ffaf18;
}

.first__advantages {
    margin-top: 42px;
}

.first__button {
    margin-top: 20px;
}

.advantages {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    width: calc(50% - 30px);
    margin-right: 24px;
}

.advantages__title {
    color: #ffaf18;
    font-weight: 800;
    text-transform: uppercase;
}

.advantages__text {
    color: #b99150;
    line-height: 1;
}

.button {
    padding: 0 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020303;
    background-color: #ffaf18;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.button-width_full {
    width: 100%;
}

.button-height_min {
    height: 50px;
}

.catalog__title {
    font-size: 2.18rem;
    color: #bd975c;
    text-align: center;
}

.catalog__cards {
    margin-top: 48px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.catalog__card {
    width: calc(25% - 18px);
}

.card {
    padding: 29px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    box-shadow: 0 3px 14px 1px rgba(152, 152, 152, 0.2);
    text-align: center;
}

.card__title {
    color: #382400;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 15px;
}

.card__text {
    color: #181a1a;
    font-size: 0.875em;
    margin-top: 4px;
    line-height: 1.3;
}

.card__img {
    height: 146px;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 960px;
    }
    .header__menu {
        margin-left: 180px;
    }
    .first {
        position: relative;
    }
    .first__title {
        font-size: 2.5em;
    }
    .first__img {
        max-width: 400px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .first__left {
        width: 580px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__menu {
        margin-left: 80px;
    }
    .menu__list {
        gap: 40px;
    }
    .main__catalog {
        margin-top: 280px;
    }
    .first__left {
        width: 100%;
    }
    .first__img {
        top: auto;
        bottom: -200px;
        right: 0;
    }
    .first {
        flex-direction: column;
    }
    .catalog__card {
        width: calc(50% - 24px)
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__container {
        justify-content: space-between;
    }
    .menu {
        position: relative;
    }
    .menu__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 20px;
    }
    .menu__burger div {
        width: 100%;
        height: 3px;
        background-color: #ffc468;
    }
    .menu__list {
        position: absolute;
        background-color: #fff;
        flex-direction: column;
        gap: 20px;
        width: 40vw;
        right: 0;
        box-shadow: none;
        top: 50px;
        max-height: 0;
        padding: 0 16px;
        transition: all .2s;
        overflow: hidden;
    }
    .menu__list-opened {
        max-height: 300px;
        padding: 16px;
        box-shadow: 0 3px 3px 1px rgba(152, 152, 152, 0.2);
    }
    .main__first {
        margin-top: 100px;
    }
    .main__catalog {
        margin-top: 200px;
    }
    .first__title {
        font-size: 2.4rem;
    }
    .first__img {
        bottom: -120px;
        max-width: 300px;
        right: -20px;
    }
    .catalog__title {
        font-size: 2rem;
    }
    .catalog__card {
        width: calc(50% - 9px);
    }
    .catalog__cards {
        gap: 18px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: none;
        padding: 0 16px;
    }
    .menu__list {
        width: 100vw;
        right: -5vw;
    }
    .main__first {
        margin-top: 60px;
    }
    .main__catalog {
        margin-top: 80px;
    }
    .first__title {
        font-size: 1.8rem;
    }
    .first__img {
        position: static;
        margin-top: 60px;
    }
    .advantages {
        flex-direction: column;
    }
    .advantages__item {
        width: 100%;
    }
    .catalog__cards {
        flex-direction: column;
    }
    .catalog__card {
        width: 100%;
    }
    .catalog__title {
        line-height: 1.2;
    }
}